html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
header nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 20px;
}
header nav a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  padding: 5px;
}
header nav a:first-of-type {
  font-weight: bolder;
}
.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 400px;
  background-image: url("/Users/wndrfltray/Desktop/Web31Example/50-Influential-Artists/assets/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 40px;
}
.title-container h1 {
  font-size: 4rem;
  color: white;
  font-weight: bolder;
}
.title-container button {
  display: block;
  background-color: white;
  margin: 15px 10px 20px;
  width: 150px;
  height: 45px;
  font-size: 1.8rem;
  border: 1px solid gray;
  border-radius: 3px;
  text-align: center;
  padding-top: 6px;
  box-shadow: 1px 2px;
}
.artists-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 800px;
  margin: 20px auto;
}
.artists-container .artist {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.artists-container .artist img {
  width: 70%;
  height: 200px;
  border-radius: 7px;
  margin-bottom: 10px;
}
.artists-container .artist a {
  font-size: 1.8rem;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}
.artists-container .artist .bio {
  width: 90%;
  font-size: 1.2rem;
  text-align: center;
}
