.title-container {
    .displayFlex (center, column);
    align-items: center;
    width: 800px;
    height: 400px;
    background-image: url("/Users/wndrfltray/Desktop/Web31Example/50-Influential-Artists/assets/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 20px;
    
    h1 {
        font-size: 4rem;
        font-weight: bolder;
        color: white;
    }

    button {
        .btn (white, 1.8rem);
    }

    hr {
        width: 840px;
        border-top: 1px solid gray;
    }
}

.artists-container {
    .displayFlex (space-evenly, row);
    width: 800px;
    margin: 10px auto;

    .artist {
        width: 40%;
    }
}